<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userInformationService" class="com.example.quiz.UserInformationService">
        <property name="user" ref="user"/>
    </bean>

    <bean id="user" class="com.example.quiz.User"/>

    <bean id="resourceReader" class="com.example.quiz.ResourceReader" init-method="read">
        <property name="resource" value="questions.csv"/>
    </bean>

    <bean id="questionService" class="com.example.quiz.QuestionService">
        <constructor-arg ref="resourceReader"/>
    </bean>
</beans>